// FONTS && COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;

.home-page{
  font-family: "prompt", sans-serif;
}

.hero-banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: calc(100vh - 200px);
  margin: 0 auto 80px;
  padding: 0 0;
  h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: $font-color;
    font-weight: 500;
    animation: slideUpFade 1000ms forwards;
  }
  span{
    color: $font-hover;
  }
  p{
    color: $font-color;
    font-size: 16px;
    line-height: 30px;
    padding: 6px;
    animation: slideUpFade 1700ms forwards;
  }
}

#canvas{
  display: block;
  width: 500px;
  height: 500px;
  overflow-x: hidden;
  cursor: grab;
  canvas{
    margin: 0 auto;
  }
}

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  a{
    padding-right: 20px;
    font-size: 18px;
  }
}

@media (max-width: 481px){
  .hero-banner{
    flex-flow: column;
    width: 95%;
    height: auto;
    text-align: center;
    margin-top: 50px;
    h1{
      font-size: 26px;
    }
    p{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  #canvas{
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1600px){
  .hero-banner-title{
    font-size: 32px;
  }

  .hero-banner-para{
    font-size: 18px;
  }
}

// ANIMATIONS

@keyframes slideUpFade {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}