// FONTS && COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;


.carousel{
  position: relative;
  width: 80%;
}

.carousel-title{
  position: absolute;
  top: 15%;
  left: calc(50% - 71px);
  font-size: 30px;
  color: $font-color;
}

.carousel-landing{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.carousel-blog{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.carousel-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.carousel-content{
  display: flex;
  flex-flow: column;
  font-family: "prompt", sans-serif;
  color: $font-color;
  h3{
    color: $font-color-alternative;
    line-height: 70px;
  }
  a{
    color: $font-color;
    font-size: 16px;
    width: 150px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    animation: run 4s infinite alternate ease-in-out;
    &:hover{
      color: $font-hover;
      animation: stop ease-in-out;
    }
  }
}

@keyframes run{
  0% {transform: translateX(0px)}
  50% {transform: translateX(5px)}
  100% {transform: translateX(-5px);}
}

@keyframes stop{
  0% {transform: translateX(0)}
}

img{
  width: 50%;
}

.prev-carousel-arrow{
  position: absolute;
  top: 50%;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: translateX(-10px);
    color: $font-hover;
  }
}

.next-carousel-arrow{
  position: absolute;
  top: 50%;
  right: 4%;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: translateX(10px);
    color: $font-hover;
  }
}