// FONTS && COLOR VARIABLES
$font-color: #000;
$font-color-alternative: #d1ccc0;
$font-hover: #D1462F;
$background: #FBF7EF;
$background-alternative: #573D1C;

.carousel-content{
  display: flex;
  flex-flow: column;
  font-family: "prompt", sans-serif;
  h3{
    color: $font-color-alternative;
  }
  a{
    color: $font-color;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover{
      color: $font-hover;
    }
  }
}