// COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;

.contact-page{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Prompt', sans-serif;
  overflow-x: hidden;
}

.contact-form{
  display: flex;
  align-items: center;
  flex-flow: column;
  box-shadow: 0.5px 0.5px 2px $font-color;
  width: 40%;
  margin: 0 auto;
  padding: 25px 0;
}

label{
  align-self: flex-start;
  width: 80%;
  margin: 10px auto 0;
  color: $font-color;
}

input{
  font-family: 'Prompt', sans-serif;
  width: 80%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid $font-color-alternative;
  border-radius: 5px;
  &:focus{
    border: 1px solid $font-hover;
    outline: 1px solid $font-hover;
  }
}

.empty{
  border: thin solid #e74c3c;
  outline: thin solid #e74c3c;
  &:focus{
    border: thin solid #e74c3c;
    outline: thin solid #e74c3c; 
  }
}

.textarea{
  font-family: 'Prompt', sans-serif;
  width: 80%;
  height: 150px;
  border: 1px solid $font-color-alternative;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  resize: none;
  &:focus{
    border: 1px solid $font-hover;
    outline: 1px solid $font-hover;
  }
}

.contact-btn{
  width: 80%;
  height: 50px;
  padding: 10px;
  border: 1px solid $font-color;
  background-color: white;
  color: $font-color;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  transition: all 0.13s ease;
  &:hover{
    background-color: $font-color;
    color: white;
  }
  &:active{
    background-color: $font-hover;
    color: white;
  }
  &:focus{
    outline: none;
    background-color: $font-hover;
    color: white;
    border: 1px solid $font-color;
  }
}

.error-msg{
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  color: #e74c3c;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  animation: shake 0.7s alternate;
}

.sended-msg{
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
  color: #2ecc71;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

@keyframes shake {
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-5px);
  }
  50%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0);
  }
}

@media (max-width: 481px){
  .contact-form{
    width: 85%;
  }

  label{
    width: 85%;
  }

  input{
    width: 85%;
  }

  .textarea{
    width: 85%;
  }
}