// FONTS && COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;

.home-page{
  font-family: "prompt", sans-serif;
}

.hero-banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: calc(100vh - 200px);
  margin: 0 auto;
  padding: 0 0;
  h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: $font-color;
    font-weight: 500;
  }
  span{
    color: $font-hover;
  }
  p{
    color: $font-color;
    font-size: 16px;
    line-height: 30px;
  }
}

.hero-banner-call{
  margin-top: 120px;
  color: $font-color;
  font-weight: 400;
  font-size: 12px;
}

#canvas{
  overflow-x: hidden;
  cursor: grab;
}

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  a{
    padding-right: 20px;
    font-size: 18px;
  }
}

@media (max-width: 481px){
  .hero-banner{
    flex-flow: column;
    width: 95%;
    height: auto;
    text-align: center;
    margin-top: 90px;
    h1{
      font-size: 26px;
    }
    p{
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .hero-banner-call{
    margin-top: 70px;
  }
}