// FONTS && COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;

.home-page{
  font-family: "prompt", sans-serif;
}

.hero-banner{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: calc(100vh - 200px);
  margin: 0 auto;
  padding: 60px 0;
  h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: $font-color;
    font-weight: 500;
  }
  span{
    color: $font-hover;
  }
  p{
    color: $font-color;
    font-size: 16px;
    line-height: 30px;
  }
}

// #canvas{
//   position: absolute;
//   top: calc(50% - 200px);
//   right: -70px;
// }

.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  a{
    padding-right: 20px;
    font-size: 18px;
  }
}