// RESET && GLOBAL
*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & > a{
    text-decoration: none;
  }
  & > li{
    list-style: none;
  }
}

.portfolio{
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}