// FONTS && COLOR VARIABLES
$font-color: #384454;
$font-color-alternative: #D4D3DC;
$font-hover: #E1A624;
$background: #FFFFFF;
$background-alternative-2: #AD956B;


.carousel{
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 90%;
  margin: 200px auto 0;
}

.carousel-title{
  position: absolute;
  top: 15%;
  left: calc(50% - 71px);
  font-size: 30px;
  color: $font-color;
}

.projects-filter-btns {
  margin-top: 100px;
  button {
    margin: 0 4px;
    padding: 6px 12px;
    background-color: white;
    color: $font-color;
    border: 1px solid $font-color;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  button:hover {
    color: $font-hover;
    border: 1px solid $font-hover;
  }
}

.carousel-landing{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-blog{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-crypto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-planetarium{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-retail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  &:hover{
    a::after{
      opacity: 1;
      transform: translateX(15px);
    }
  }
}

.carousel-content{
  display: flex;
  flex-flow: column;
  font-family: "prompt", sans-serif;
  color: $font-color;
  h3{
    color: $font-color-alternative;
    line-height: 70px;
  }
  a{
    position: relative;
    color: $background-alternative-2;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &::after{
      content: "View Project...";
      position: absolute;
      top: calc(50% - 14px);
      left: 6px;
      color: inherit;
      opacity: 0;
      font-size: 18px;
      transition: all 0.4s ease-in-out;
    }
    &:hover::after{
      color: $font-hover;
    }
  }
}

img{
  width: 50%;
}

.prev-carousel-arrow{
  position: absolute;
  top: 50%;
  font-size: 50px;
  cursor: pointer;
  color: $font-color;
  z-index: 10;
  user-select: none;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: translateX(-10px);
    color: $font-hover;
  }
}

.next-carousel-arrow{
  position: absolute;
  top: 50%;
  right: 4%;
  font-size: 50px;
  z-index: 10;
  cursor: pointer;
  color: $font-color;
  user-select: none;
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: translateX(10px);
    color: $font-hover;
  }
}

.animate-carousel {
  animation: carouselFade 500ms forwards ease-in-out;
}

@keyframes carouselFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 481px){

  .carousel{
    width: 100%;
    overflow-x: hidden;
  }

  .carousel-title{
    top: 5%;
  }

  .carousel-landing{
    width: 95%;
    flex-flow: column;
  }

  .carousel-blog{
    width: 95%;
    flex-flow: column;
  }

  .carousel-crypto{
    width: 95%;
    flex-flow: column;
  }

  .carousel-planetarium{
    width: 95%;
    flex-flow: column;
  }

  .carousel-widget{
    width: 95%;
    flex-flow: column;
  }

  .carousel-content{
    h1{
      font-size: 22px;
    }
    h3{
      font-size: 18px;
    }
  }

  img{
    width: 350px;
    height: auto;
  }
}